<p id="notice"><%= notice %></p>

<h1>Listing Songs</h1>

<%= link_to new_song_path do %>
  <span class="gliphicon glyphicon-plus"></span> Add
<% end %>

<div class="row">
    <% @songs.each do |song| %>
      <div class="col-md-6">
        <div class="well">
        <h3><%= link_to song.name, song %></h3>
        <p>by <%= song.artist.name %></p>

        <p>
          <% song.rating.times do %>
            <span class="glyphicon glyphicon-star" style="color:yellow"></span>
          <% end %>
        </p>

        <p>
          <%= link_to edit_song_path(song) do %> 
            <span class="glyphicon glyphicon-pencil"></span> Edit
          <% end %>
          &nbsp;&nbsp;&nbsp;
          <%= link_to song, method: :delete, data: { confirm: 'Are you sure?' } do %> 
            <span class="glyphicon glyphicon-trash"></span> Delete
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>


