<!DOCTYPE html>
<html>
<head>
  <title>Top5</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Leila's Top Five</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
                  <li class="<%= 'active' if current_page?(artists_path) %>"><%= link_to "Artists", artists_path %></li>
                  <li class="<%= 'active' if current_page?(songs_path) %>"><%= link_to "Songs", songs_path %></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
          	<%= yield %>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Leila Jacob 2015</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


</body>
</html>
